HELP.md
caches/
/out
/build
/gen
daemon/
.idea/
idea/
jdks/
native/
src/main/generated/
.idea/modules.xml

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### BUILD ###
.gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws`
*.iml
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.gradle-local/

### VS Code ###
.vscode/
/bin/
/logs/application.log
# Added by code-review-graph
.code-review-graph/

.claude/settings.local.json
.claude/config.json