{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU D-Day API",
    "version": "v1.0.0",
    "description": "명지대 학사일정 기반 디데이(D-Day) 정보를 제공하는 API입니다.\n\n## 개요\n- 학사일정(calendar) 중 아직 끝나지 않은 일정(종료일 >= 오늘)을 임박순으로 정렬해 반환합니다.\n- 노출 개수는 프론트가 `limit`으로 지정하며, 미지정 시 기본 4개를 반환합니다.\n\n## 카운트다운 기준\n| phase | 의미 | 카운트다운 대상(targetDate) |\n|-------|------|------------------------------|\n| UPCOMING | 시작 전 | 시작일(startDate) |\n| ONGOING | 진행 중 | 종료일(endDate) |\n\n`ddayValue = targetDate - 오늘` (일 단위). 예: 3이면 D-3.\n\n## 인증\n인증 불필요 (공개 API)."
  },
  "servers": [
    {
      "url": "https://api.thingo.kr/api/v1",
      "description": "운영 서버"
    }
  ],
  "tags": [
    {
      "name": "D-Day",
      "description": "학사일정 기반 디데이 조회 API. 임박순 정렬, 기본 4개(프론트가 limit으로 조절)."
    }
  ],
  "paths": {
    "/ddays": {
      "get": {
        "tags": ["D-Day"],
        "summary": "디데이 목록 조회",
        "operationId": "getDDays",
        "description": "끝나지 않은 학사일정을 임박순(카운트다운 대상일 오름차순)으로 정렬해 상위 `limit`개 반환합니다.\n\n### limit\n- 프론트가 노출 개수를 지정합니다.\n- 미지정 시 기본 4개.\n- 0 이하 값은 서버에서 기본값(4)으로 처리합니다.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "노출 개수 (미지정 시 4)",
            "schema": {
              "type": "integer",
              "default": 4,
              "minimum": 1,
              "example": 4
            }
          }
        ],
        "responses": {
          "200": {
            "description": "디데이 목록 반환 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseDDayList"
                },
                "examples": {
                  "default": {
                    "summary": "기본(limit=4) 응답 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": [
                        {
                          "ddayValue": 1,
                          "phase": "UPCOMING",
                          "targetDate": "2026-06-06",
                          "startDate": "2026-06-06",
                          "endDate": "2026-06-08",
                          "eventName": "현충일",
                          "eventNameTruncated": "현충일",
                          "sourceType": "CALENDAR"
                        },
                        {
                          "ddayValue": 3,
                          "phase": "ONGOING",
                          "targetDate": "2026-06-08",
                          "startDate": "2026-06-01",
                          "endDate": "2026-06-08",
                          "eventName": "기말고사 기간입니다 화이팅",
                          "eventNameTruncated": "기말고사 기간입니다 화…",
                          "sourceType": "CALENDAR"
                        }
                      ],
                      "timestamp": "2026-06-05T09:00:00"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DDayResponse": {
        "type": "object",
        "description": "개별 디데이 항목",
        "properties": {
          "ddayValue": {
            "type": "integer",
            "format": "int64",
            "description": "남은 일수 (targetDate - 오늘). 예: 3 → D-3, 0 → D-Day",
            "example": 3
          },
          "phase": {
            "type": "string",
            "description": "진행 단계",
            "enum": ["UPCOMING", "ONGOING"],
            "example": "UPCOMING"
          },
          "targetDate": {
            "type": "string",
            "format": "date",
            "description": "카운트다운 대상일 (UPCOMING=시작일, ONGOING=종료일)",
            "example": "2026-06-06"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "일정 시작일",
            "example": "2026-06-06"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "일정 종료일",
            "example": "2026-06-08"
          },
          "eventName": {
            "type": "string",
            "description": "원본 이벤트명",
            "example": "기말고사 기간입니다 화이팅"
          },
          "eventNameTruncated": {
            "type": "string",
            "description": "12자(공백포함) 초과 시 11자 + 말줄임표(…)로 자른 이름",
            "example": "기말고사 기간입니다 화…"
          },
          "sourceType": {
            "type": "string",
            "description": "디데이 출처 (현재 학사일정만, 추후 확장 대비)",
            "enum": ["CALENDAR"],
            "example": "CALENDAR"
          }
        },
        "required": ["ddayValue", "phase", "targetDate", "startDate", "endDate", "eventName", "eventNameTruncated", "sourceType"]
      },
      "ApiResponseDDayList": {
        "type": "object",
        "description": "디데이 목록 공통 응답 래퍼",
        "properties": {
          "status": {
            "type": "string",
            "example": "API 요청 성공"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DDayResponse"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-05T09:00:00"
          }
        }
      }
    }
  }
}
