{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU 공통·인프라 API",
    "version": "v1.0.0",
    "description": "인프라 기능(날씨 등)을 위한 API 명세서입니다. OpenWeatherMap 및 대기질 API를 기반으로 실시간 정보를 제공합니다."
  },
  "servers": [
    {
      "url": "https://api.thingo.kr/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Weather",
      "description": "OpenWeatherMap을 활용한 날씨 및 대기질 정보 제공 API"
    },
    {
      "name": "S3 Image",
      "description": "S3 이미지 업로드 및 임시 UUID 발급 관련 엔드포인트"
    },
    {
      "name": "Contact",
      "description": "사용자의 문의사항(버그 제보, 피드백 등)을 운영자 이메일로 전송하는 기능입니다. HTML과 이미지가 포함된 이메일 전송을 지원합니다."
    }
  ],
  "paths": {
    "/weather": {
      "get": {
        "tags": ["Weather"],
        "summary": "날씨 및 미세먼지 정보 조회",
        "description": "OpenWeatherMap을 기반으로 현재 위치(서울시 남가좌동)의 날씨, 체감온도, 미세먼지(PM10, PM2.5) 정보를 제공합니다.",
        "responses": {
          "200": {
            "description": "현재 날씨 및 공기질 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherResponse"
                },
                "examples": {
                  "weatherExample": {
                    "summary": "서울시 남가좌동 예시",
                    "value": {
                      "id": 3,
                      "location": "서울시 남가좌동",
                      "temperature": 2.91,
                      "feelsLike": -1.83,
                      "humidity": 25,
                      "weatherMain": "Clear",
                      "weatherDescription": "맑음",
                      "weatherIcon": "https://openweathermap.org/img/wn/01d@2x.png",
                      "minTemperature": -3.41,
                      "maxTemperature": 2.91,
                      "pm10": 7.87,
                      "pm2_5": 5.6,
                      "pm10Category": "좋음",
                      "pm2_5Category": "좋음",
                      "timestamp": "2025-02-18T15:01:27.740362"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/s3/temp-uuid": {
      "get": {
        "tags": ["S3 Image"],
        "deprecated": true,
        "summary": "임시 UUID 발급",
        "description": "새 게시글 작성 시 **프론트엔드에서 임시로 사용할 UUID**를 발급합니다. 이 UUID는 실제 게시글이 저장되기 전까지 업로드된 이미지와 게시글을 매핑하는 데 사용됩니다.",
        "operationId": "generateTempUuid",
        "responses": {
          "200": {
            "description": "발급 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseString" },
                "examples": {
                  "success": {
                    "summary": "정상 응답",
                    "value": {
                      "success": true,
                      "data": "4be35d77-4767-4e2d-837a-a2e7f9e9a802"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/s3/upload": {
      "post": {
        "tags": ["S3 Image"],
        "summary": "범용 S3 파일 업로드",
        "description": "모든 도메인(게시글 이미지, 프로필 이미지 등)에 대해 **단일 엔드포인트**로 S3 업로드를 처리합니다. <br/>\n• **file** : 업로드할 파일 (Multipart) <br/>\n• **domain** : 업로드 대상 영역을 나타내는 Enum 값 <br/>\n• **uuid** : 연관 엔티티의 UUID (또는 위에서 발급받은 임시 UUID)",
        "operationId": "uploadFile",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "업로드할 이미지 · 문서 · 동영상 파일"
                  },
                  "domain": {
                    "$ref": "#/components/schemas/S3DomainType"
                  }
                },
                "required": ["file", "domain"]
              },
              "examples": {
                "communityImage": {
                  "summary": "자유게시판 이미지 업로드 예시",
                  "value": {
                    "file": "(binary)",
                    "domain": "COMMUNITY_POST"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "업로드 성공",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiResponseString" },
                "examples": {
                  "success": {
                    "summary": "정상 응답",
                    "value": {
                      "success": true,
                      "data": "https://cdn.thingo.kr/community/4be35d77-4767-4e2d-837a-a2e7f9e9a802/20250723/thumbnail.jpg"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "파라미터 오류 또는 파일 검증 실패"
          },
          "500": {
            "description": "서버 내부 오류"
          }
        }
      }
    },
    "/api/v1/contact/email": {
      "post": {
        "tags": ["Contact"],
        "summary": "문의사항 이메일 전송",
        "description": "사용자가 입력한 제목과 내용을 바탕으로 운영자에게 HTML 이메일을 전송합니다. 본문은 HTML 형식을 지원하며 이미지 삽입도 가능합니다. 서버 측에서 DB 저장은 하지 않고 메일만 발송됩니다.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailContactRequest"
              },
              "example": {
                "subject": "버그 제보",
                "content": "<p>다음 이미지를 참고하세요.<br><img src='https://thingo.kr/static/images/member/profiles/a5fe8971-c436-4794-96d7-8dd29583d16a/0ac4e3ad18749a7029ea8876644c1a2b5bafc07aa31dc5d56a9d7dde8df07a6a.jpeg' /></p>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "문의 전송 결과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailContactResponse"
                },
                "examples": {
                  "success": {
                    "summary": "성공 응답",
                    "value": {
                      "success": true,
                      "message": "문의가 성공적으로 전송되었습니다."
                    }
                  },
                  "error": {
                    "summary": "실패 응답",
                    "value": {
                      "success": false,
                      "message": "이메일 전송 중 오류가 발생했습니다."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "WeatherResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 3 },
          "location": { "type": "string", "example": "서울시 남가좌동" },
          "temperature": { "type": "number", "format": "float", "example": 2.91 },
          "feelsLike": { "type": "number", "format": "float", "example": -1.83 },
          "humidity": { "type": "integer", "example": 25 },
          "weatherMain": { "type": "string", "example": "Clear" },
          "weatherDescription": { "type": "string", "example": "맑음" },
          "weatherIcon": {
            "type": "string",
            "format": "uri",
            "example": "https://openweathermap.org/img/wn/01d@2x.png"
          },
          "minTemperature": { "type": "number", "format": "float", "example": -3.41 },
          "maxTemperature": { "type": "number", "format": "float", "example": 2.91 },
          "pm10": { "type": "number", "format": "float", "example": 7.87 },
          "pm2_5": { "type": "number", "format": "float", "example": 5.6 },
          "pm10Category": { "type": "string", "example": "좋음" },
          "pm2_5Category": { "type": "string", "example": "좋음" },
          "timestamp": { "type": "string", "format": "date-time" }
        },
        "description": "OpenWeatherMap과 공공데이터 API로부터 수집된 날씨 및 미세먼지 데이터"
      },
      "ApiResponseString": {
        "type": "object",
        "description": "공통 응답 Wrapper",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "요청 성공 여부",
            "example": true
          },
          "data": {
            "type": "string",
            "description": "실제 응답 데이터(문자열)",
            "example": "https://cdn.thingo.kr/…"
          }
        },
        "required": ["success", "data"]
      },
      "S3DomainType": {
        "type": "string",
        "description": "업로드 대상 도메인을 나타내는 Enum 값",
        "enum": [
          "COMMUNITY_POST",
          "PROFILE_IMAGE",
          "DEPARTMENT_LOGO",
          "DEPARTMENT_SCHEDULE",
          "STUDENT_COUNCIL_NOTICE"
        ],
        "example": "COMMUNITY_POST"
      },
      "EmailContactRequest": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "description": "이메일 제목 (예: 버그 제보, 기능 요청 등)"
          },
          "content": {
            "type": "string",
            "description": "이메일 본문 내용 (HTML 형식 가능, 이미지 삽입 가능)"
          }
        },
        "required": ["subject", "content"]
      },
      "EmailContactResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "이메일 전송 성공 여부"
          },
          "message": {
            "type": "string",
            "description": "처리 결과 메시지"
          }
        }
      }
    }
  }
}
