{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU 지도·버스 API",
    "version": "v1.1.0",
    "description": "명지대 캠퍼스 지도 서비스 '명지도'와 주변 버스 도착 정보를 제공하는 API입니다.\n\n## 명지도란?\n명지대 캠퍼스 지도 위에 건물과 장소(맛집/편의시설 등)를 핀으로 보여주는 서비스입니다.\n지도는 프론트가 네이버 지도로 그리고, 백엔드는 핀의 좌표·정보·정렬된 목록을 내려줍니다.\n\n## 데이터 3종\n| 종류 | 설명 | 예 |\n|------|------|----|\n| 카테고리(칩) | 지도 위 핀을 묶고 필터링하는 단위. 상단 퀵메뉴 칩 + 전체 카테고리로 노출 | 대동명지도, 프린터, 라운지 |\n| 건물 | 강의실코드·층별 안내·운영시간을 가진 캠퍼스 건물 | 종합관, 방목학술정보관 |\n| 장소(비건물) | 건물 안 시설 또는 건물 밖 가게. 위치/추가정보만 가짐 | 맛집, 편의점, 프린터 |\n\n## 핵심 개념\n- **운영 상태/거리는 저장값이 아니라 요청 시점에 계산**합니다. 운영시간+현재시각으로 상태를, 사용자 좌표로 거리를 구합니다.\n- **사용자 현재 위치(lat/lng)는 프론트가 기기 GPS로 얻어 쿼리 파라미터로 전달**합니다. 백엔드는 정렬·거리 계산에만 쓰고 저장하지 않습니다.\n- 캠퍼스 반경(약 500m) 밖이거나 좌표가 없으면 거리는 표시하지 않습니다(정렬만 정문 기준).\n- **운영시간/운영상태는 건물에만** 있습니다. 장소(비건물)는 운영시간 없이 위치·추가정보만 제공합니다.\n- 즐겨찾기는 건물·장소를 핀 ID 하나로 동일하게 다룹니다.\n\n## 인증\n- 조회 API는 비로그인 가능. 로그인 시 즐겨찾기 여부가 표시되고 칩 목록에서 즐겨찾기가 상단 정렬됩니다.\n- 즐겨찾기 토글은 로그인 필요.\n\n---\n\n## 버스 도착 정보\n명지대 주변 정류장(A/B)의 서울 버스 실시간 도착 정보를 공공데이터포털에서 중계합니다. 프론트는 정류장 키(A/B)만 전달합니다."
  },
  "servers": [
    {
      "url": "https://api.thingo.kr/api/v1",
      "description": "운영 서버"
    }
  ],
  "tags": [
    {
      "name": "명지도 - 카테고리",
      "description": "지도 위 핀을 묶는 칩(카테고리) API. 상단 퀵메뉴 칩, 전체 카테고리(더보기), 칩 클릭 시 장소/건물 목록을 제공합니다. 칩은 '이름 + 부제 + 결과 종류'를 가지며, 대동명지도처럼 하위 탭(한식/중식)을 갖는 칩도 있습니다."
    },
    {
      "name": "명지도 - 건물/장소",
      "description": "건물 목록·상세, 장소(비건물) 상세 API. 운영 상태와 거리는 요청 시점에 계산해 내려줍니다. 운영시간은 건물에만 존재합니다."
    },
    {
      "name": "명지도 - 즐겨찾기",
      "description": "건물/장소 즐겨찾기 토글 API. 즐겨찾기한 핀은 칩 목록에서 상단으로 정렬됩니다. 로그인 필요."
    },
    {
      "name": "Bus Arrivals",
      "description": "서울 버스 실시간 도착 정보 API. 공공데이터포털 `getStationByUid`를 백엔드에서 중계하여 노선 번호, 방면, 막차 시간, 남은 시간, 정류장 수, 혼잡도, 즐겨찾기 여부를 제공합니다."
    }
  ],
  "paths": {
    "/map/categories/quick": {
      "get": {
        "tags": ["명지도 - 카테고리"],
        "summary": "상단 퀵메뉴 칩 목록 조회",
        "operationId": "getQuickChips",
        "description": "메인 홈 최상단의 가로 스크롤 칩 바를 그릴 때 사용합니다.\n\n### 사용 시나리오\n1. 명지도 화면 진입\n2. 이 API로 퀵메뉴 칩 목록을 받아 가로 스크롤로 렌더\n3. 칩을 누르면 `code`로 `/map/categories/{code}/pins`를 호출해 목록을 띄움\n   - 단, `resultType=BUS`인 칩(버스)은 목록 대신 버스 화면(`/bus/arrivals`)으로 이동\n\n칩 노출 순서는 운영자가 조정하며 응답 순서를 그대로 따르면 됩니다.",
        "responses": {
          "200": {
            "description": "퀵메뉴 칩 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MapChip" }
                    },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    { "code": "bus", "label": "버스", "iconKey": "BusIcon", "resultType": "BUS", "subtitle": null, "tooltipText": null },
                    { "code": "daedong", "label": "대동명지도", "iconKey": "MyeongwolIcon", "resultType": "PLACE_LIST", "subtitle": "by. 명월", "tooltipText": "뭐 먹을지 고민이라면? 명월 Pick 맛집을 확인해보세요!" },
                    { "code": "printer", "label": "프린터", "iconKey": "PrinterIcon", "resultType": "PLACE_LIST", "subtitle": null, "tooltipText": null }
                  ],
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          }
        }
      }
    },
    "/map/categories": {
      "get": {
        "tags": ["명지도 - 카테고리"],
        "summary": "전체 카테고리 조회 (더보기 바텀시트)",
        "operationId": "getAllCategories",
        "description": "'더보기(···)' 버튼을 눌렀을 때 뜨는 전체 카테고리 바텀시트를 그릴 때 사용합니다.\n\n### 사용 시나리오\n1. 퀵메뉴 우측 '더보기' 클릭\n2. 이 API로 그룹(식사/학습·휴식/편의)별 칩 묶음을 받아 섹션으로 렌더\n3. 칩 클릭 시 `/map/categories/{code}/pins` 호출 (또는 `resultType=BUS`면 버스 화면)\n\n각 그룹은 헤더 이름과 강조 색상(colorHex, HEX값)을 가집니다. 프론트가 색을 Tailwind 등으로 조립하세요.",
        "responses": {
          "200": {
            "description": "그룹별 카테고리 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/MapCategoryGroup" }
                    },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    {
                      "code": "food",
                      "name": "식사 (F&B)",
                      "colorHex": "#F57F36",
                      "chips": [
                        { "code": "daedong", "label": "대동명지도", "iconKey": "MyeongwolIcon", "resultType": "PLACE_LIST", "subtitle": "by. 명월", "tooltipText": "뭐 먹을지 고민이라면? 명월 Pick 맛집을 확인해보세요!" },
                        { "code": "cafeteria", "label": "학생식당", "iconKey": "CafeteriaIcon", "resultType": "PLACE_LIST", "subtitle": null, "tooltipText": null }
                      ]
                    },
                    {
                      "code": "convenience",
                      "name": "편의 (Convenience)",
                      "colorHex": "#3B82F6",
                      "chips": [
                        { "code": "printer", "label": "프린터", "iconKey": "PrinterIcon", "resultType": "PLACE_LIST", "subtitle": null, "tooltipText": null }
                      ]
                    }
                  ],
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          }
        }
      }
    },
    "/map/categories/{code}/pins": {
      "get": {
        "tags": ["명지도 - 카테고리"],
        "summary": "칩 클릭 시 장소/건물 목록 조회",
        "operationId": "getPinsByCategory",
        "description": "특정 칩을 눌렀을 때 지도 하단 바텀시트에 띄울 목록입니다.\n\n### 사용 시나리오\n1. 사용자가 칩(예: 대동명지도) 클릭\n2. 기기 GPS 좌표(lat/lng)와 함께 이 API 호출\n3. 응답 목록을 카드로 렌더, 동시에 지도에 핀을 찍음\n\n### 정렬 규칙\n- 로그인 사용자의 **즐겨찾기가 먼저**, 그다음 **현재 위치에서 가까운 순**\n- 캠퍼스 반경(약 500m) 밖이면: 거리는 표시하지 않고(미표시) **정문 기준 가까운 순**으로 정렬\n- GPS가 없으면: 거리 없이 이름순\n\n### 페이지네이션\n- 장소 목록은 무한 스크롤을 위해 `page`/`size`로 잘라 반환합니다. 반환 개수가 `size`보다 작으면 마지막 페이지입니다.\n- 건물 칩은 수가 적어 사실상 한 페이지로 들어옵니다.\n\n### 하위 탭\n- 대동명지도처럼 하위 탭(한식/중식)이 있는 칩은 자식 카테고리의 장소까지 함께 반환합니다.\n\n### 버스 칩\n- `code=bus`(resultType=BUS)는 목록이 아니라 버스 화면용입니다. 이 API는 빈 목록을 반환하므로 프론트는 `/bus/arrivals`로 이동하세요.",
        "parameters": [
          { "name": "code", "in": "path", "required": true, "description": "칩 코드 (예: daedong, printer, building)", "schema": { "type": "string", "example": "daedong" } },
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도 (프론트 GPS). 없으면 거리 미계산", "schema": { "type": "number", "format": "double", "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 126.9226 } },
          { "name": "page", "in": "query", "required": false, "description": "0부터 시작하는 페이지 번호", "schema": { "type": "integer", "default": 0, "example": 0 } },
          { "name": "size", "in": "query", "required": false, "description": "페이지 크기", "schema": { "type": "integer", "default": 20, "example": 20 } }
        ],
        "responses": {
          "200": {
            "description": "장소/건물 요약 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PinSummary" }
                    },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    { "id": 51, "type": "PLACE", "name": "행복식당", "categoryCode": "korean", "iconKey": "KoreanFoodIcon", "imageUrl": "https://thingo.kr/img/place/51.jpg", "classroomCode": null, "location": "서울 서대문구 거북골로 34", "favorite": true, "operatingStatus": null, "distanceMeters": 150 },
                    { "id": 52, "type": "PLACE", "name": "명지면옥", "categoryCode": "korean", "iconKey": "KoreanFoodIcon", "imageUrl": null, "classroomCode": null, "location": "서울 서대문구 거북골로 36", "favorite": false, "operatingStatus": null, "distanceMeters": 320 }
                  ],
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 칩 코드",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_CATEGORY_NOT_FOUND", "message": "[MJS] 해당 카테고리를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/map/buildings": {
      "get": {
        "tags": ["명지도 - 건물/장소"],
        "summary": "건물 전체 목록 조회",
        "operationId": "getBuildings",
        "description": "바텀시트에 건물 카드를 나열할 때 사용합니다.\n\n### 사용 시나리오\n1. 명지도 기본 화면에서 바텀시트를 위로 슬라이드\n2. (선택) 기기 GPS 좌표와 함께 호출\n3. 건물 카드 목록 렌더\n\n### 특징\n- **건물 번호 순**으로 고정 노출, 페이지네이션 없음 (건물 수가 적음)\n- 각 건물의 운영 상태(운영중/곧 종료 등)와 거리, 즐겨찾기 여부를 함께 계산해 반환\n- 강의실 코드(예: S1XXX)는 건물 카드/상세에 표시",
        "parameters": [
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 126.9226 } }
        ],
        "responses": {
          "200": {
            "description": "건물 요약 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PinSummary" }
                    },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    { "id": 1, "type": "BUILDING", "name": "종합관", "categoryCode": "building", "iconKey": "BuildingIcon", "imageUrl": "https://thingo.kr/img/building/1.jpg", "classroomCode": "S1XXX", "location": null, "favorite": false, "operatingStatus": "24시간 운영", "distanceMeters": 80 },
                    { "id": 7, "type": "BUILDING", "name": "방목학술정보관", "categoryCode": "building", "iconKey": "BuildingIcon", "imageUrl": "https://thingo.kr/img/building/7.jpg", "classroomCode": "S7XXX", "location": null, "favorite": true, "operatingStatus": "운영중", "distanceMeters": 240 }
                  ],
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          }
        }
      }
    },
    "/map/buildings/{buildingId}": {
      "get": {
        "tags": ["명지도 - 건물/장소"],
        "summary": "건물 상세 조회",
        "operationId": "getBuildingDetail",
        "description": "건물 카드를 눌러 들어가는 상세 페이지입니다.\n\n### 포함 정보\n- 기본 정보: 건물명, 아이콘, 이미지, 건물 번호, 강의실 코드\n- **운영 상태**(실시간 계산) + **요일별 운영시간**(토글에 나열)\n- **카테고리 필터 탭**: 이 건물 안에 있는 장소들의 카테고리 모음 (별도 데이터가 아니라 유도값)\n- **층별 시설 목록**: 층(B1, F1 ...)별로 시설을 묶고, 각 층의 안내도 이미지 포함\n\n### 운영 상태 종류\n곧 운영 시작 / 운영중 / 곧 운영 종료 / 운영 종료 / 24시간 운영 / 휴무",
        "parameters": [
          { "name": "buildingId", "in": "path", "required": true, "description": "건물 핀 ID", "schema": { "type": "integer", "format": "int64", "example": 7 } },
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 126.9226 } }
        ],
        "responses": {
          "200": {
            "description": "건물 상세",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "$ref": "#/components/schemas/BuildingDetail" },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 건물",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_PIN_NOT_FOUND", "message": "[MJS] 해당 건물/장소를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/map/places/{placeId}": {
      "get": {
        "tags": ["명지도 - 건물/장소"],
        "summary": "장소(비건물) 상세 조회",
        "operationId": "getPlaceDetail",
        "description": "장소 카드를 눌러 들어가는 상세 페이지입니다. 건물 상세와 달리 **강의실 코드와 운영시간이 없고**, 대신 위치와 추가정보를 제공합니다.\n\n### 포함 정보\n- 기본 정보: 장소명, 카테고리 아이콘, 이미지\n- **위치**: 건물 안 시설이면 '건물명 + 층수', 건물 밖 장소면 '도로명 주소'\n- **추가정보(infoText)**: 기타 안내 텍스트\n- 거리, 즐겨찾기 여부\n\n장소는 운영시간/운영상태를 제공하지 않습니다(운영시간은 건물에만).",
        "parameters": [
          { "name": "placeId", "in": "path", "required": true, "description": "장소 핀 ID", "schema": { "type": "integer", "format": "int64", "example": 51 } },
          { "name": "lat", "in": "query", "required": false, "description": "사용자 현재 위도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 37.5802 } },
          { "name": "lng", "in": "query", "required": false, "description": "사용자 현재 경도 (프론트 GPS)", "schema": { "type": "number", "format": "double", "example": 126.9226 } }
        ],
        "responses": {
          "200": {
            "description": "장소 상세",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "$ref": "#/components/schemas/PlaceDetail" },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": {
                    "id": 51, "name": "행복식당", "categoryCode": "korean", "iconKey": "KoreanFoodIcon",
                    "imageUrl": "https://thingo.kr/img/place/51.jpg", "favorite": true, "distanceMeters": 150,
                    "location": "서울 서대문구 거북골로 34", "infoText": "현금 결제만 가능, 단체석 보유"
                  },
                  "timestamp": "2026-06-22T09:05:12"
                }
              }
            }
          },
          "404": {
            "description": "존재하지 않는 장소",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_PIN_NOT_FOUND", "message": "[MJS] 해당 건물/장소를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/map/favorites": {
      "post": {
        "tags": ["명지도 - 즐겨찾기"],
        "summary": "건물/장소 즐겨찾기 토글",
        "operationId": "togglePinFavorite",
        "description": "건물 또는 장소를 마이 즐겨찾기 리스트에 추가하거나 해제합니다.\n\n### 동작\n- 즐겨찾기가 없으면 등록(true), 이미 있으면 해제(false) - 토글 방식\n- 건물·장소 구분 없이 핀 ID(`pinId`) 하나로 다룹니다\n- 즐겨찾기한 핀은 칩 목록에서 상단으로 정렬되고 각 응답에서 `favorite=true`로 표시됩니다\n\n### 인증\n로그인 필요 (Bearer 토큰).",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "pinId", "in": "query", "required": true, "description": "건물/장소 핀 ID", "schema": { "type": "integer", "format": "int64", "example": 51 } }
        ],
        "responses": {
          "200": {
            "description": "토글 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": { "type": "boolean", "description": "true: 즐겨찾기 추가됨 / false: 즐겨찾기 해제됨", "example": true },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-06-22T09:05:12" }
                  }
                }
              }
            }
          },
          "401": { "description": "미인증 (로그인 필요)" },
          "404": {
            "description": "존재하지 않는 핀",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "MAP_PIN_NOT_FOUND", "message": "[MJS] 해당 건물/장소를 찾을 수 없습니다.", "status": 404 }
              }
            }
          }
        }
      }
    },
    "/bus/arrivals": {
      "get": {
        "tags": ["Bus Arrivals"],
        "summary": "실시간 버스 도착 정보 조회",
        "operationId": "getBusArrivals",
        "description": "정류장(A/B)의 실시간 버스 도착 정보를 반환합니다.\n\n### 사용 시나리오\n1. 지도에서 정류장(A 또는 B) 선택\n2. `station=A` 또는 `station=B`로 호출\n3. 응답의 `buses` 배열을 화면 목록으로 렌더링 (즐겨찾기 노선이 상단)\n\n### 혼잡도\n| 코드 | 한글 |\n|------|------|\n| 3 | 여유 |\n| 4 | 보통 |\n| 5 | 혼잡 |\n| 6 | 매우혼잡 |\n| 0 | (정보없음 → null) |",
        "parameters": [
          {
            "name": "station",
            "in": "query",
            "required": true,
            "description": "정류장 선택 키",
            "schema": {
              "type": "string",
              "enum": ["A", "B"],
              "example": "A"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "버스 도착 정보 반환 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBusArrival"
                },
                "examples": {
                  "stationA": {
                    "summary": "정류장 A (station=A) 조회 예시",
                    "value": {
                      "status": "API 요청 성공",
                      "data": {
                        "arsId": "13195",
                        "stationName": "명지대 (DMC센트럴아이파크아파트 방면)",
                        "lat": 37.5815,
                        "lng": 126.9187,
                        "buses": [
                          {
                            "routeName": "7611",
                            "direction": "여의도",
                            "lastBusTime": "23:30",
                            "favorite": true,
                            "arrivals": []
                          },
                          {
                            "routeName": "7612",
                            "direction": "영등포구청역",
                            "lastBusTime": "23:40",
                            "favorite": false,
                            "arrivals": [
                              {
                                "remainingTime": "5분 10초",
                                "stationCount": "2정류장",
                                "congestion": "보통"
                              },
                              {
                                "remainingTime": "10분 20초",
                                "stationCount": "4정류장",
                                "congestion": "혼잡"
                              }
                            ]
                          },
                          {
                            "routeName": "7734",
                            "direction": "홍대입구역",
                            "lastBusTime": "23:00",
                            "favorite": false,
                            "arrivals": [
                              {
                                "remainingTime": "곧 도착",
                                "stationCount": null,
                                "congestion": "여유"
                              },
                              {
                                "remainingTime": "6분 55초",
                                "stationCount": "4정류장",
                                "congestion": "보통"
                              }
                            ]
                          }
                        ]
                      },
                      "timestamp": "2026-05-19T09:05:12"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 정류장 키 (A/B 아님)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "BUS_STATION_NOT_FOUND",
                  "message": "[MJS] 지원하지 않는 정류장입니다. (A 또는 B)",
                  "status": 400
                }
              }
            }
          },
          "404": {
            "description": "해당 정류장의 도착 예정 버스 없음",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "BUS_ARRIVAL_NOT_FOUND",
                  "message": "[MJS] 버스 도착 정보를 찾을 수 없습니다.",
                  "status": 404
                }
              }
            }
          },
          "502": {
            "description": "외부 공공데이터 API 호출 실패",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "error": "BUS_ARRIVAL_API_CALL_FAILED",
                  "message": "[MJS] 버스 도착 정보 API 호출에 실패했습니다.",
                  "status": 502
                }
              }
            }
          }
        }
      }
    },
    "/bus/favorites": {
      "post": {
        "tags": ["Bus Arrivals"],
        "summary": "버스 노선 즐겨찾기 토글",
        "operationId": "toggleBusFavorite",
        "description": "정류장(A/B)의 특정 노선을 즐겨찾기에 추가하거나 해제합니다.\n\n### 동작\n- 즐겨찾기가 없으면 등록(true), 이미 있으면 해제(false) - 토글 방식\n- 즐겨찾기한 노선은 `/bus/arrivals` 응답에서 상단 정렬되고 `favorite=true`로 표시됩니다.\n\n### 인증\n로그인 필요 (Bearer 토큰).",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "station",
            "in": "query",
            "required": true,
            "description": "정류장 선택 키",
            "schema": { "type": "string", "enum": ["A", "B"], "example": "A" }
          },
          {
            "name": "routeName",
            "in": "query",
            "required": true,
            "description": "버스 노선 번호",
            "schema": { "type": "string", "example": "7611" }
          }
        ],
        "responses": {
          "200": {
            "description": "토글 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "API 요청 성공" },
                    "data": {
                      "type": "boolean",
                      "description": "true: 즐겨찾기 추가됨 / false: 즐겨찾기 해제됨",
                      "example": true
                    },
                    "timestamp": { "type": "string", "format": "date-time", "example": "2026-05-19T09:05:12" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 정류장 키 (A/B 아님)"
          },
          "401": {
            "description": "미인증 (로그인 필요)"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MapChip": {
        "type": "object",
        "description": "칩 1개 (상단 퀵메뉴 / 전체 카테고리 공용)",
        "properties": {
          "code": { "type": "string", "description": "칩 코드. 칩 클릭 시 이 코드로 목록을 요청", "example": "daedong" },
          "label": { "type": "string", "description": "칩 표시 이름", "example": "대동명지도" },
          "iconKey": { "type": "string", "description": "아이콘 키 (프론트 아이콘 레지스트리가 매핑)", "example": "MyeongwolIcon" },
          "resultType": { "type": "string", "description": "클릭 결과 종류", "enum": ["PLACE_LIST", "BUILDING_LIST", "BUS"], "example": "PLACE_LIST" },
          "subtitle": { "type": "string", "nullable": true, "description": "부제/출처 (예: by. 명월). 없으면 null", "example": "by. 명월" },
          "tooltipText": { "type": "string", "nullable": true, "description": "메인 홈 툴팁 문구. 없으면 null", "example": "뭐 먹을지 고민이라면? 명월 Pick 맛집을 확인해보세요!" }
        },
        "required": ["code", "label", "resultType"]
      },
      "MapCategoryGroup": {
        "type": "object",
        "description": "전체 카테고리 바텀시트의 한 그룹 (헤더 + 칩 목록)",
        "properties": {
          "code": { "type": "string", "description": "그룹 코드", "example": "food" },
          "name": { "type": "string", "description": "그룹 이름", "example": "식사 (F&B)" },
          "colorHex": { "type": "string", "nullable": true, "description": "그룹 아이콘 강조 색상 HEX", "example": "#F57F36" },
          "chips": { "type": "array", "description": "그룹에 속한 칩들", "items": { "$ref": "#/components/schemas/MapChip" } }
        },
        "required": ["code", "name", "chips"]
      },
      "PinSummary": {
        "type": "object",
        "description": "목록 카드 1개 (건물 목록 / 칩 클릭 장소 목록 공용). 종류별로 일부 필드만 채워진다.",
        "properties": {
          "id": { "type": "integer", "format": "int64", "description": "핀 ID (상세 요청에 사용)", "example": 51 },
          "type": { "type": "string", "description": "종류. 프론트가 상세 화면을 분기", "enum": ["BUILDING", "PLACE"], "example": "PLACE" },
          "name": { "type": "string", "description": "건물명/장소명", "example": "행복식당" },
          "categoryCode": { "type": "string", "description": "소속 카테고리 코드", "example": "korean" },
          "iconKey": { "type": "string", "description": "카드 아이콘 키 (카테고리 아이콘)", "example": "KoreanFoodIcon" },
          "imageUrl": { "type": "string", "nullable": true, "description": "이미지 URL. 없으면 null (레이아웃 분기)", "example": "https://thingo.kr/img/place/51.jpg" },
          "classroomCode": { "type": "string", "nullable": true, "description": "예시 강의실 코드 (건물만). 장소는 null", "example": "S1XXX" },
          "location": { "type": "string", "nullable": true, "description": "위치 텍스트 (장소만: 건물명+층수 또는 주소). 건물은 null", "example": "서울 서대문구 거북골로 34" },
          "favorite": { "type": "boolean", "description": "즐겨찾기 여부 (비로그인 시 false)", "example": true },
          "operatingStatus": { "type": "string", "nullable": true, "description": "운영 상태 한글 라벨 (건물만). 장소/운영시간 없으면 null", "enum": ["곧 운영 시작", "운영중", "곧 운영 종료", "운영 종료", "24시간 운영", "휴무"], "example": "운영중" },
          "distanceMeters": { "type": "integer", "nullable": true, "description": "현재 위치로부터 거리(미터). 캠퍼스 밖/GPS 없으면 null(미표시)", "example": 150 }
        },
        "required": ["id", "type", "name", "categoryCode", "favorite"]
      },
      "OperatingHourLine": {
        "type": "object",
        "description": "요일별 운영시간 1줄",
        "properties": {
          "dayOfWeek": { "type": "string", "description": "요일 식별자", "enum": ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "SUNDAY"], "example": "MONDAY" },
          "dayLabel": { "type": "string", "description": "요일 한글", "example": "월" },
          "text": { "type": "string", "description": "운영시간 표시 텍스트", "example": "10:00-15:00" },
          "note": { "type": "string", "nullable": true, "description": "부가 안내. 없으면 null", "example": "00:00~05:00 학생증 태그 시 출입" }
        },
        "required": ["dayOfWeek", "dayLabel", "text"]
      },
      "BuildingCategoryTab": {
        "type": "object",
        "description": "건물 상세의 카테고리 필터 탭 1개 (건물 안 장소들의 카테고리에서 유도)",
        "properties": {
          "code": { "type": "string", "example": "printer" },
          "label": { "type": "string", "example": "프린터" },
          "iconKey": { "type": "string", "example": "PrinterIcon" }
        },
        "required": ["code", "label"]
      },
      "PlaceBrief": {
        "type": "object",
        "description": "층별 목록에 나열되는 시설 1개",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 120 },
          "name": { "type": "string", "example": "무한 프린터" },
          "categoryCode": { "type": "string", "example": "printer" },
          "iconKey": { "type": "string", "example": "PrinterIcon" }
        },
        "required": ["id", "name", "categoryCode"]
      },
      "BuildingFloorPlaces": {
        "type": "object",
        "description": "한 층의 시설 목록",
        "properties": {
          "floorId": { "type": "integer", "format": "int64", "nullable": true, "description": "층 ID. 층 미지정 시설 묶음이면 null", "example": 30 },
          "floorLabel": { "type": "string", "nullable": true, "description": "층 라벨 (B1, F1)", "example": "F1" },
          "floorOrder": { "type": "integer", "nullable": true, "description": "층 정렬 순서 (지하 음수, 지상 양수)", "example": 1 },
          "mapImageUrl": { "type": "string", "nullable": true, "description": "층별 안내도 이미지 URL", "example": "https://thingo.kr/img/floor/30.jpg" },
          "places": { "type": "array", "items": { "$ref": "#/components/schemas/PlaceBrief" } }
        },
        "required": ["places"]
      },
      "BuildingDetail": {
        "type": "object",
        "description": "건물 상세 응답",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 7 },
          "name": { "type": "string", "example": "방목학술정보관" },
          "iconKey": { "type": "string", "example": "BuildingIcon" },
          "imageUrl": { "type": "string", "nullable": true, "example": "https://thingo.kr/img/building/7.jpg" },
          "buildingNumber": { "type": "integer", "nullable": true, "description": "건물 고유 번호", "example": 7 },
          "classroomCode": { "type": "string", "nullable": true, "description": "예시 강의실 코드 (건물 상세에만 존재)", "example": "S7XXX" },
          "favorite": { "type": "boolean", "example": false },
          "operatingStatus": { "type": "string", "nullable": true, "description": "운영 상태 한글 라벨", "enum": ["곧 운영 시작", "운영중", "곧 운영 종료", "운영 종료", "24시간 운영", "휴무"], "example": "운영중" },
          "distanceMeters": { "type": "integer", "nullable": true, "example": 240 },
          "infoText": { "type": "string", "nullable": true, "description": "기타 안내 텍스트", "example": "06:00~00:00 운영" },
          "weeklyOperatingHours": { "type": "array", "description": "요일별 운영시간 (토글에 나열)", "items": { "$ref": "#/components/schemas/OperatingHourLine" } },
          "categoryTabs": { "type": "array", "description": "카테고리 필터 탭 (건물 안 장소들의 카테고리에서 유도)", "items": { "$ref": "#/components/schemas/BuildingCategoryTab" } },
          "floors": { "type": "array", "description": "층별 시설 목록", "items": { "$ref": "#/components/schemas/BuildingFloorPlaces" } }
        },
        "required": ["id", "name", "favorite"]
      },
      "PlaceDetail": {
        "type": "object",
        "description": "장소(비건물) 상세 응답. 강의실 코드/운영시간 없음.",
        "properties": {
          "id": { "type": "integer", "format": "int64", "example": 51 },
          "name": { "type": "string", "example": "행복식당" },
          "categoryCode": { "type": "string", "example": "korean" },
          "iconKey": { "type": "string", "example": "KoreanFoodIcon" },
          "imageUrl": { "type": "string", "nullable": true, "example": "https://thingo.kr/img/place/51.jpg" },
          "favorite": { "type": "boolean", "example": true },
          "distanceMeters": { "type": "integer", "nullable": true, "example": 150 },
          "location": { "type": "string", "nullable": true, "description": "위치 (내부: 건물명+층수, 외부: 도로명주소)", "example": "서울 서대문구 거북골로 34" },
          "infoText": { "type": "string", "nullable": true, "description": "추가 정보 텍스트", "example": "현금 결제만 가능, 단체석 보유" }
        },
        "required": ["id", "name", "categoryCode", "favorite"]
      },
      "Arrival": {
        "type": "object",
        "description": "도착 예정 버스 1대의 정보",
        "properties": {
          "remainingTime": {
            "type": "string",
            "description": "도착까지 남은 시간 ('m분 s초' 또는 '곧 도착')",
            "example": "5분 10초"
          },
          "stationCount": {
            "type": "string",
            "nullable": true,
            "description": "남은 정류장 수 (arrmsg '[n번째 전]' 파싱). 정보 없으면 null",
            "example": "2정류장"
          },
          "congestion": {
            "type": "string",
            "nullable": true,
            "description": "혼잡도 (코드 0=정보없음은 null)",
            "enum": ["여유", "보통", "혼잡", "매우혼잡"],
            "example": "보통"
          }
        },
        "required": ["remainingTime"]
      },
      "BusItem": {
        "type": "object",
        "description": "개별 버스(노선) 도착 정보",
        "properties": {
          "routeName": {
            "type": "string",
            "description": "버스 노선 번호",
            "example": "7612"
          },
          "direction": {
            "type": "string",
            "description": "버스 운행 방면 / 종점",
            "example": "영등포구청역"
          },
          "lastBusTime": {
            "type": "string",
            "nullable": true,
            "description": "막차 시간 'HH:mm'. 정보 없으면 null",
            "example": "23:30"
          },
          "favorite": {
            "type": "boolean",
            "description": "로그인 사용자의 즐겨찾기 여부 (비로그인 시 false). true면 목록 상단 정렬",
            "example": true
          },
          "arrivals": {
            "type": "array",
            "description": "도착 예정 버스 목록 (최대 2개). 비어있으면 '도착 예정 정보 없음' 표기",
            "items": {
              "$ref": "#/components/schemas/Arrival"
            }
          }
        },
        "required": ["routeName", "direction", "favorite", "arrivals"]
      },
      "BusArrivalResponse": {
        "type": "object",
        "description": "버스 도착 정보 응답 (정류장 정보 + 버스 목록)",
        "properties": {
          "arsId": {
            "type": "string",
            "description": "조회된 정류장 ARS ID (백엔드가 station 키로부터 해석)",
            "example": "13195"
          },
          "stationName": {
            "type": "string",
            "description": "정류장 이름",
            "example": "명지대 (DMC센트럴아이파크아파트 방면)"
          },
          "lat": {
            "type": "number",
            "format": "double",
            "description": "정류장 위도",
            "example": 37.5815
          },
          "lng": {
            "type": "number",
            "format": "double",
            "description": "정류장 경도",
            "example": 126.9187
          },
          "buses": {
            "type": "array",
            "description": "해당 정류장을 지나는 버스 도착 목록 (즐겨찾기 노선 상단)",
            "items": {
              "$ref": "#/components/schemas/BusItem"
            }
          }
        },
        "required": ["arsId", "stationName", "lat", "lng", "buses"]
      },
      "ApiResponseBusArrival": {
        "type": "object",
        "description": "버스 도착 정보 공통 응답 래퍼",
        "properties": {
          "status": {
            "type": "string",
            "example": "API 요청 성공"
          },
          "data": {
            "$ref": "#/components/schemas/BusArrivalResponse"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-19T09:05:12"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "에러 응답 형식",
        "properties": {
          "error": {
            "type": "string",
            "description": "에러 코드 식별자",
            "example": "BUS_ARRIVAL_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "description": "사용자 친화적 에러 메시지",
            "example": "[MJS] 버스 도착 정보를 찾을 수 없습니다."
          },
          "status": {
            "type": "integer",
            "description": "HTTP 상태 코드",
            "example": 404
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
