{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU 신고/차단 API",
    "version": "v1.0.0",
    "description": "게시글/댓글/명지도 리뷰 신고(관리자 메일 발송 + DB 기록)와 사용자 차단(양방향 즉시 숨김) API. 차단하면 상대가 작성한 게시글과 댓글이 내 화면에서 즉시 사라지며, 상대에게는 차단 사실이 통지되지 않는다."
  },
  "servers": [
    { "url": "https://api.thingo.kr/api/v1" }
  ],
  "tags": [
    { "name": "Report", "description": "게시글/댓글/리뷰 신고 접수" },
    { "name": "Block", "description": "사용자 차단/해제/목록 (양방향 숨김)" }
  ],
  "paths": {
    "/reports": {
      "post": {
        "tags": ["Report"],
        "summary": "신고 접수",
        "description": "신고 사유(6종) + 대상(유형/UUID)을 받아 관리자에게 메일을 발송하고 신고 이력을 DB에 기록한다. 기타 사유(ETC)는 상세 내용(최대 400자) 필수. 로그인 필요.",
        "security": [ { "Authorization": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateReportRequest" },
              "example": {
                "targetType": "BOARD",
                "targetUuid": "1b9d6bcd-bbfd-4b2d-9b5d-ab8dfbbd4bed",
                "reason": "ABUSE",
                "etcDetail": null
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "신고 접수 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_ReportDetail" } } }
          },
          "400": {
            "description": "검증 실패(기타 사유 상세 미입력: '구체적인 기타 사유를 입력해 주세요.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "미인증" }
        }
      }
    },
    "/blocks": {
      "post": {
        "tags": ["Block"],
        "summary": "사용자 차단",
        "description": "대상 사용자를 차단한다. 차단 시 상대가 작성한 게시글/댓글이 내 화면에서 즉시 숨겨지며(양방향), 상대에게는 통지되지 않는다. 이미 차단한 상대면 멱등 처리. 로그인 필요.",
        "security": [ { "Authorization": [] } ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateBlockRequest" },
              "example": { "targetMemberUuid": "2c3d6bcd-bbfd-4b2d-9b5d-ab8dfbbd4bed" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "차단 성공(data 없음)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_Empty" } } }
          },
          "400": {
            "description": "자기 자신 차단('자기 자신은 차단할 수 없습니다.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": { "description": "미인증" },
          "404": {
            "description": "대상 사용자 없음('회원 정보를 찾을 수 없습니다.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      },
      "get": {
        "tags": ["Block"],
        "summary": "내가 차단한 사용자 목록",
        "description": "최근 차단순. 로그인 필요.",
        "security": [ { "Authorization": [] } ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_BlockedList" } } }
          },
          "401": { "description": "미인증" }
        }
      }
    },
    "/blocks/{targetMemberUuid}": {
      "delete": {
        "tags": ["Block"],
        "summary": "차단 해제",
        "description": "차단을 해제하면 상대의 게시글/댓글이 다시 보인다. 로그인 필요.",
        "security": [ { "Authorization": [] } ],
        "parameters": [
          { "name": "targetMemberUuid", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "해제 성공(data 없음)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiSuccess_Empty" } } }
          },
          "401": { "description": "미인증" },
          "404": {
            "description": "차단 내역 없음('차단 내역을 찾을 수 없습니다.')",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ReportTargetType": {
        "type": "string",
        "enum": ["BOARD", "COMMENT", "REVIEW"],
        "description": "BOARD=게시판 글, COMMENT=댓글, REVIEW=명지도 리뷰(백엔드 미구현, 값만 예약)"
      },
      "ReportReason": {
        "type": "string",
        "enum": ["COMMERCIAL_AD", "INAPPROPRIATE", "ABUSE", "OBSCENE", "PRIVACY_SCAM", "ETC"],
        "description": "COMMERCIAL_AD=상업적 광고 및 홍보성, INAPPROPRIATE=주제 및 서비스 성격에 부적절함, ABUSE=욕설/비하/인신공격, OBSCENE=음란성/불건전한 내용, PRIVACY_SCAM=개인정보 노출 및 사칭/사기, ETC=기타"
      },
      "CreateReportRequest": {
        "type": "object",
        "required": ["targetType", "targetUuid", "reason"],
        "properties": {
          "targetType": { "$ref": "#/components/schemas/ReportTargetType" },
          "targetUuid": { "type": "string", "format": "uuid", "description": "신고 대상(게시글/댓글/리뷰)의 UUID" },
          "reason": { "$ref": "#/components/schemas/ReportReason" },
          "etcDetail": {
            "type": "string",
            "maxLength": 400,
            "nullable": true,
            "description": "기타(ETC) 사유일 때 필수. 최대 400자.",
            "example": "구체적인 기타 사유 내용"
          }
        }
      },
      "ReportDetail": {
        "type": "object",
        "properties": {
          "reportUuid": { "type": "string", "format": "uuid" },
          "targetType": { "$ref": "#/components/schemas/ReportTargetType" },
          "targetUuid": { "type": "string", "format": "uuid" },
          "reason": { "$ref": "#/components/schemas/ReportReason" },
          "reasonLabel": { "type": "string", "example": "욕설/비하/인신공격" },
          "etcDetail": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "message": { "type": "string", "example": "신고가 정상적으로 접수되었습니다." }
        }
      },
      "CreateBlockRequest": {
        "type": "object",
        "required": ["targetMemberUuid"],
        "properties": {
          "targetMemberUuid": { "type": "string", "format": "uuid", "description": "차단할 사용자의 member UUID" }
        }
      },
      "BlockedMember": {
        "type": "object",
        "properties": {
          "memberUuid": { "type": "string", "format": "uuid" },
          "nickname": { "type": "string", "example": "길동" },
          "name": { "type": "string", "example": "홍길동" },
          "profileImageUrl": { "type": "string", "nullable": true },
          "blockedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_ReportDetail": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "$ref": "#/components/schemas/ReportDetail" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_BlockedList": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/BlockedMember" } },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ApiSuccess_Empty": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "API 요청 성공" },
          "data": { "type": "object", "nullable": true, "example": null },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "BAD_REQUEST" },
          "error": { "type": "string", "example": "BLOCK_SELF_NOT_ALLOWED" },
          "message": { "type": "string", "example": "[MJS] 자기 자신은 차단할 수 없습니다." }
        }
      }
    }
  }
}
