{
  "openapi": "3.0.1",
  "info": {
    "title": "MJU 통합검색 API",
    "version": "v1.1.0",
    "description": "학교 공지·학사일정·뉴스·커뮤니티 등 여러 영역을 한 번에 찾는 PostgreSQL 통합검색 API.\n\n검색 엔드포인트(GET /search/detail)는 '검색'과 '전체목록'을 겸한다. keyword를 주면 관련도순 검색, 비우면 필터/정렬 기반 최신순 전체목록.\n\n자동완성(GET /search/suggest)은 공지 제목이 아니라 검색 의도 사전과 공통 Topic Catalog에서 선별한 표준 핵심어를 반환한다.\n\n인증 불필요(공개). 결과 0건은 오류가 아니라 200 + 빈 배열로 응답.\n\n기술: PostgreSQL FTS(tsvector, GIN) + pg_trgm, Komoran 형태소 토큰화, Topic 기반 질의 해석. 색인은 원본 변경 시 자동 동기화(AFTER_COMMIT), 전체 재구축은 POST /search/sync(운영 전용)."
  },
  "servers": [
    {
      "url": "https://api.thingo.kr/api/v1"
    },
    {
      "url": "http://localhost:8080/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "PostgreSQL FTS 통합 검색 및 인덱스 동기화"
    },
    {
      "name": "Suggest",
      "description": "검색 의도 사전·Topic Catalog 기반 표준 핵심어 자동완성"
    }
  ],
  "paths": {
    "/search/sync": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "검색 색인 전체 재구축 (운영자 전용)",
        "description": "검색 색인을 통째로 다시 만듭니다. 원본 7개 영역(공지·뉴스·커뮤니티·학과일정·총학공지·방송·학사일정)을 모두 다시 읽어 적재합니다.\n\n[평상시엔 호출 불필요] 원본이 바뀌면 색인은 커밋 직후 자동 동기화됩니다. 이 API는 색인이 꼬였거나 대량 보정이 필요할 때만 운영자가 사용합니다.\n\n[주의]\n- 재구축 중 짧은 순간 검색 결과가 비어 보일 수 있습니다.\n- 1000건 단위로 처리하며, 변환 실패한 글은 건너뜁니다(경고 로그).",
        "responses": {
          "200": {
            "description": "인덱싱 완료",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": "Success Indexing",
                  "timestamp": "2026-06-18T10:00:00.000000"
                }
              }
            }
          },
          "500": {
            "description": "인덱싱 중 서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "error": "INTERNAL_SERVER_ERROR",
                  "message": "인덱싱 중 오류가 발생했습니다."
                }
              }
            }
          }
        }
      }
    },
    "/search/rebuild-vectors": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "검색 벡터 재생성 (운영 복구용)",
        "description": "데이터를 삭제하거나 원본에서 다시 적재하지 않고 unified_search_index의 search_vector와 title_vector만 재생성합니다. PostgreSQL 트리거 누락 또는 벡터 NULL로 검색 결과가 비는 장애를 복구할 때 사용합니다.",
        "responses": {
          "200": {
            "description": "벡터 재생성 완료",
            "content": {
              "application/json": {
                "example": {
                  "status": "API 요청 성공",
                  "data": "Rebuilt",
                  "timestamp": "2026-08-01T10:00:00.000000"
                }
              }
            }
          },
          "500": {
            "description": "벡터 재생성 중 서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/detail": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "통합 상세 검색 (PostgreSQL FTS)",
        "description": "학교 정보를 한 번에 찾는 메인 검색 엔드포인트입니다. '검색'과 '전체목록 보기' 두 가지로 동작합니다.\n\n[모드 A. 키워드 검색] keyword를 주면 관련도순(relevance)으로 결과를 돌려줍니다.\n  예: /search/detail?keyword=장학금 신청\n\n[Topic 기반 질의 해석] 등록된 약어·특수문자 표현은 공통 Topic Catalog로 해석합니다. 핵심 Topic은 후보 검색의 필수 조건으로 사용하고 '신청', '기간' 같은 수식어와 질문형 표현은 순위·커버리지 신호로 분리합니다. Catalog에 없는 일반 검색어는 기존 Komoran OR/AND 검색을 유지합니다. 응답 DTO는 변경되지 않습니다.\n\n[모드 B. 전체검색 / 목록 보기] keyword 없이 탭(type)·카테고리(category)·정렬(order)만으로 글을 둘러봅니다. 검색어가 없으면 관련도를 못 매기므로 자동으로 최신순(latest)이 됩니다.\n  예: /search/detail                                  (전체 최신순)\n      /search/detail?type=NEWS                        (뉴스만 최신순)\n      /search/detail?type=NOTICE&category=scholarship (장학 공지만)\n\n[정렬 order]\n- relevance : 검색어와 잘 맞는 순 (검색 시 기본)\n- latest    : 최신 날짜순 (목록 보기 기본, keyword 비면 자동 적용)\n- oldest    : 오래된 날짜순\nlatest/oldest로 정렬하면 응답의 score는 의미가 없습니다(날짜로 줄세운 것).\n\n[필터]\n- type     : 상위 탭. 대소문자 무시. 모르는 값이면 400. (DEPARTMENT_NOTICE는 현재 색인 데이터가 없어 빈 결과일 수 있음)\n- category : 세부 카테고리. 대소문자 구분. type별 가능값은 category 파라미터 설명 참고.\n- 비공개/비활성 문서는 항상 제외됩니다.\n\n[결과 순서 = 관련도 점수] 제목이 검색어와 정확히 맞는 글이 가장 위로 옵니다. 또한 기한이 지난(마감된) 공지는 후순위로 내려가고, 아직 유효한 공지는 소폭 우대하며, 학칙처럼 기한이 없는 문서는 만료로 보지 않고 우선 노출합니다. 또한 학교 데이터 특성상 최신성을 강하게 반영해 관련도가 비슷하면 최근 글(특히 공고)이 위로 오고, 뉴스·방송은 공지보다 아래로 내려갑니다(유효성·최신성 보정은 relevance 정렬에만 적용, 응답 스키마 불변). 대략: 본문·제목 매칭도 + (제목에 검색어 있으면 가점) + (제목에 검색어 단어가 전부 있으면 큰 가점) + 인기도(좋아요·댓글, 최근일수록 ↑) 소폭 + 도메인/카테고리 가중치 소폭 + 실시간 인기검색어 보너스.\n  (기술값: ts_rank*0.6 + 제목부스트 0.25 + coverage 0.40 + popularity*0.0001 + 카테고리/타입 가중치 + 인기검색어 +0.05. popularity=(likes+comments*2)*0.5^(ageDays/30))\n\n[강조 표시] highlightedTitle / highlightedContent는 검색어가 <em>...</em>로 강조된 '화면에 그대로 출력할 텍스트'입니다. 매칭이 없으면 원문이 그대로 들어갑니다.\n\n[참고: 부수효과] keyword가 공백이 아니면 실시간 인기검색어 집계에 기록됩니다(빈 keyword는 기록 안 함).\n\n[호실 코드 검색 → 층별안내도] keyword가 등록된 호실 코드와 정확히 일치하면(공백·기호·대소문자 무시: S1353, s-1353, S10 238. 앞의 S 없이 호수만 입력한 1353도 포함) 게시물 검색을 하지 않고 층별안내도 결과 1건만 반환합니다(첫 페이지에만, totalElements=1). type 필터를 주면 이 동작은 꺼지고, category를 주면 그 호실의 명지도 카테고리 코드와 같을 때만 반환합니다.\n  - type = \"map\"\n  - id = \"MAP:{장소 id}\"\n  - highlightedTitle = \"<em>{호실코드}</em> · {장소명}\" (장소명이 코드와 같으면 코드만)\n  - highlightedContent = \"{건물명} {층} 층별 안내도\" (예: \"학생회관 F5 층별 안내도\")\n  - category = 명지도 카테고리 코드 (예: classroom, printer)\n  - link = /maps/floor?buildingId={건물 id}&floorLabel={층}&placeId={장소 id}&target={호실코드}. 명지도 검색(/map/search)의 FLOOR_MAP link와 같은 형식이며 파라미터 의미는 map 명세의 \"층별안내도 link 명세\"를 따릅니다.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            },
            "description": "검색어. 공백/미입력 시 필터+정렬 기반 목록 조회",
            "example": "장학금 신청"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NOTICE",
                "MJU_CALENDAR",
                "DEPARTMENT_NOTICE",
                "STUDENT_COUNCIL_NOTICE",
                "DEPARTMENT_SCHEDULE",
                "COMMUNITY",
                "NEWS",
                "BROADCAST"
              ]
            },
            "description": "상위 탭 필터(어느 영역에서 찾을지). 대소문자 무시(notice=NOTICE). 목록에 없는 값이면 400. 참고: DEPARTMENT_NOTICE는 현재 색인 데이터가 없어 빈 결과일 수 있음."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "scholarship"
            },
            "description": "세부 카테고리 exact match (대소문자 구분).\n- NOTICE: general, academic, scholarship, career, activity, rule\n- NEWS: REPORT, SOCIETY\n- COMMUNITY: FREE, NOTICE\n- BROADCAST / MJU_CALENDAR / DEPARTMENT_SCHEDULE / STUDENT_COUNCIL_NOTICE: 미적재(null)"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "latest",
                "oldest"
              ],
              "default": "relevance"
            },
            "description": "정렬 기준. relevance=관련도순(검색 기본), latest=최신순, oldest=오래된순. keyword가 비면 자동 latest. latest/oldest일 땐 score는 무의미."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "검색 결과 페이지",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageSearchResult"
                },
                "examples": {
                  "relevanceHit": {
                    "summary": "keyword=장학금 신청, relevance 정렬",
                    "value": {
                      "status": "API 요청 성공",
                      "data": {
                        "content": [
                          {
                            "id": "NOTICE:13317",
                            "highlightedTitle": "2025학년도 2학기 교내 <em>장학금</em> <em>신청</em> 안내",
                            "highlightedContent": "교내 <em>장학금</em> <em>신청</em> 기간 및 대상자 안내...",
                            "date": "2025-05-19T01:39:00Z",
                            "link": "https://www.mju.ac.kr/mjukr/255/subview.do",
                            "category": "scholarship",
                            "type": "notice",
                            "imageUrl": "",
                            "score": 1.1542,
                            "authorName": "",
                            "likeCount": 0,
                            "commentCount": 0
                          }
                        ],
                        "pageable": {
                          "pageNumber": 0,
                          "pageSize": 10,
                          "offset": 0,
                          "paged": true,
                          "unpaged": false
                        },
                        "totalElements": 149,
                        "totalPages": 15,
                        "size": 10,
                        "number": 0,
                        "first": true,
                        "last": false,
                        "numberOfElements": 10,
                        "empty": false
                      },
                      "timestamp": "2026-06-18T10:00:00.000000"
                    }
                  },
                  "latestList": {
                    "summary": "keyword 비움 + type=NEWS, latest 정렬 (목록 조회)",
                    "value": {
                      "status": "API 요청 성공",
                      "data": {
                        "content": [
                          {
                            "id": "NEWS:12941",
                            "highlightedTitle": "내년 인문캠 총학 비대위… 후보 불출마로 선거 무산",
                            "highlightedContent": "...총동아리연합회 비상대책위원회...",
                            "date": "2024-11-11T01:51:00Z",
                            "link": "https://news.mju.ac.kr/news/articleView.html?idxno=12941",
                            "category": "REPORT",
                            "type": "news",
                            "imageUrl": "http://news.mju.ac.kr/.../12941.jpg",
                            "score": 0.02,
                            "authorName": "명대신문",
                            "likeCount": 0,
                            "commentCount": 0
                          }
                        ],
                        "totalElements": 128,
                        "totalPages": 13,
                        "size": 10,
                        "number": 0,
                        "first": true,
                        "last": false,
                        "numberOfElements": 10,
                        "empty": false
                      },
                      "timestamp": "2026-06-18T10:00:00.000000"
                    }
                  },
                  "emptyResult": {
                    "summary": "조건에 맞는 문서 없음 / 자모 노이즈 입력",
                    "value": {
                      "status": "API 요청 성공",
                      "data": {
                        "content": [],
                        "totalElements": 0,
                        "totalPages": 0,
                        "size": 10,
                        "number": 0,
                        "first": true,
                        "last": true,
                        "numberOfElements": 0,
                        "empty": true
                      },
                      "timestamp": "2026-06-18T10:00:00.000000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "미지원 type 값 등 잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "error": "ILLEGAL_ARGUMENT",
                  "message": "지원하지 않는 검색 타입입니다: foo"
                }
              }
            }
          }
        }
      }
    },
    "/search/suggest": {
      "get": {
        "tags": [
          "Suggest"
        ],
        "summary": "표준 핵심어 자동완성",
        "description": "검색창 입력 중 재사용 가능한 짧은 핵심어를 최대 10개 반환합니다. 공지 제목은 반환하지 않습니다.\n\n후보는 기존 검색 의도 사전과 공통 Topic Catalog에서 가져오며 정확 일치, 시작 일치, 포함 일치 순으로 정렬합니다. 등록된 약어와 특수문자 변형은 표준 Topic 핵심어로 확장합니다.\n\nkeyword는 필수입니다. 공백, 2글자 미만 또는 등록되지 않은 표현은 200과 빈 배열을 반환하며, 낮은 신뢰도의 공지 제목으로 보완하지 않습니다. 기존 ApiResponse<List<String>> 계약은 유지됩니다.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "장학"
          }
        ],
        "responses": {
          "200": {
            "description": "표준 핵심어 추천 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseStringList"
                },
                "example": {
                  "status": "API 요청 성공",
                  "data": [
                    "장학",
                    "장학생",
                    "국가장학",
                    "교내장학",
                    "한국장학재단"
                  ],
                  "timestamp": "2026-08-01T10:00:00.000000"
                }
              }
            }
          },
          "400": {
            "description": "필수 파라미터 keyword 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "error": "BAD_REQUEST",
                  "message": "Required request parameter 'keyword' for method parameter type String is not present"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResponsePageSearchResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "API 요청 성공"
          },
          "data": {
            "$ref": "#/components/schemas/PageSearchResponseDTO"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PageSearchResponseDTO": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResponseDTO"
            }
          },
          "totalElements": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "number": {
            "type": "integer"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "numberOfElements": {
            "type": "integer"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "SearchResponseDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "TYPE:ORIGINAL_ID. 호실 코드 검색 결과는 MAP:{장소 id}",
            "example": "NOTICE:13317"
          },
          "highlightedTitle": {
            "type": "string",
            "description": "ts_headline 결과(<em> 강조). 매칭 없으면 원문"
          },
          "highlightedContent": {
            "type": "string",
            "description": "ts_headline 결과(<em> 강조). 매칭 없으면 원문"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "link": {
            "type": "string",
            "description": "원문 URL. type=map(호실 코드 검색)이면 앱 내부 층별안내도 경로 /maps/floor?buildingId={건물 id}&floorLabel={층}&placeId={장소 id}&target={호실코드}",
            "example": "/maps/floor?buildingId=2&floorLabel=F5&placeId=812&target=S2510"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "소문자 (예: notice, news, broadcast). 호실 코드 정확 일치 결과는 map"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "score": {
            "type": "number",
            "format": "float",
            "description": "relevance 점수. latest/oldest 정렬 시 의미 없음"
          },
          "authorName": {
            "type": "string",
            "nullable": true
          },
          "likeCount": {
            "type": "integer",
            "nullable": true
          },
          "commentCount": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ApiResponseStringList": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "API 요청 성공"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["장학", "장학생", "국가장학", "교내장학", "한국장학재단"]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTP 상태 코드",
            "example": 400
          },
          "error": {
            "type": "string",
            "description": "오류 코드",
            "example": "ILLEGAL_ARGUMENT"
          },
          "message": {
            "type": "string",
            "description": "오류 메시지"
          }
        }
      }
    }
  }
}
